@import url("https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/serif.css");

:root {
    --body-font: "Computer Modern Serif", serif;
    --text-color: #303030;
}

p {
    font-family: var(--body-font);
    font-size: 1.2rem;
    color: var(--text-color);
}